.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-weight: bolder;
    color: black;
    top: 0;
    background: rgb(31, 89, 104);
    z-index: 100;
}

.name {
    font-size: 3rem;
}

.site-name {
    color: white;
}